# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user and build state
DerivedData/
build/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
*.xcarchive
*.xcuserstate

# Xcode user-specific project settings
*.xccheckout
*.moved-aside
*.xcscmblueprint
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# App package artifacts
*.dmg

# Local performance outputs
performance-results/
